<!-- <!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>

	<h1>Subjects</h1>

	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% subjects.forEach(function(subject) { %>
	      <tr>
	        <td><%= subject.subject %></td>
	        <td><a href="<%='/subject/' + subject.id %>">Show</a></td>
	        <td><a href="<%='/subject/' + subject.id + '/edit'%>">Edit</a></td>
	        <td><a href="<%='/subject/' + subject.id + '/destroy'%>">Destroy</a></td>
	      </tr>
		<% });  %>

	  </tbody>
	</table>

	<br>

	<a href="<%= '/subject/new' %>">New subject</a>

</body>
 
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardless - Flashcards Done Right</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>


<body>

<div class="index-background">
    <div class="subjects-container container">
        <div class="row">


	    <% subjects.forEach(function(subject) { %>
            <div class="col s12 m4">
            	<a href="<%= '/subject/' + subject.id + '' %>">
	                <div class="card subject-card">
	                    <div class="card-content">
	                        <h2><%= subject.subject%></h2>
	                    </div>
	                </div>
	            </a>
            </div>
		<% });  %>

            <div class="col s12 m4">
            	<a href="<%= '/subject/new' %>">
	                <div class="card subject-card" style="background-color: #B3E5FC">
	                    <div class="card-content">
	                        <h2>Add class</h2>
	                    </div>
	                </div>
	            </a>
            </div>

        </div>
    </div>
</div>

</body>

<!-- jQuery JS -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- Materialize CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Custom JS -->
<script src="/js/app.js"></script>
</html>